<form [formGroup]="gestionUsuarioService.FormularioRegistroUsuario" (ngSubmit)="onSubmit()" >
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fa fa-at" [class.blue-icon]="Correo.valid" [class.red-icon]="Correo.invalid && Correo.touched" ></i>
                </div>
            </div>
            <input type="hidden" name="IdUsuario" formControlName="IdUsuario">
            <input name="Correo" formControlName="Correo" class="form-control" placeholder="Correo Usuario">
        </div>

        <!--Mensaje de error-->
        <div class="alert alert-danger" *ngIf="Correo.invalid && (Correo.touched || Correo.dirty)">
            <div *ngIf="Correo.hasError('required')" >
                El correo es requerido
            </div>            
            <div *ngIf="Correo.hasError('pattern')" >
                El correo no es valido
            </div>            
        </div>
    </div>
        
    <!--Password-->
    <div class="form-group">
        <div class="input-group ">
            <div class="input-group-prepend ">
                <div class="input-group-text bg-white ">
                    <i class="fa fa-key" [class.blue-icon]="Password.valid" [class.red-icon]="Password.invalid && Password.touched" ></i>
                </div>
            </div>
            <input type="password" name="Password" formControlName="Password" class="form-control " placeholder="Contraseña">
            <input type="hidden" name="Rol" formControlName="Rol">
        </div>

        <!--Mensaje de error-->
        <div class="alert alert-danger" *ngIf="Password.invalid && (Password.touched || Password.dirty)">
            <div *ngIf="Password.hasError('required')" >
                La contraseña es requerida
            </div>            
            <div *ngIf="Password.hasError('minlength')" >
                La contraseña debe de tener como minimo 6 caracteres
            </div>            
        </div>

    </div>
    
    <div class="form-group"> 
        <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="limpiarFormulario()">Nuevo Usuario</button>    
    </div>
    <div class="form-group"> 
        <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="gestionUsuarioService.FormularioRegistroUsuario.invalid"  >Guardar</button>    
    </div>
</form>
